.about {
  padding: 0 0 88px 0;
  display: flex;
  justify-content: space-between;
}

.about-text {
  margin-bottom: 40px;
}

.about-title {
  max-width: 529px;
}

.about .accent {
  color: var(--color-primary-blue-light);
  text-transform: capitalize;
}

.description {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  max-width: 709px;
}

.about-image {
  border-radius: 350px;
}

.before-image {
  margin-left: 32px;
}

.after-image {
  margin-left: 272px;
}

.description .accented {
  font-weight: 600;
  text-transform: capitalize;
}
.container-for-background {
  position: relative;
}

.background-sections {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1785px;

  top: 700px;
}
