.about {
  padding: 0 0 88px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about-text {
  margin-bottom: 40px;
}

.about-title {
  max-width: 529px;
}

.about .accent {
  color: var(--color-primary-blue-light);
  text-transform: capitalize;
}

.description {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  max-width: 709px;
}

.about-image {
  border-radius: 350px;
  width: 327px;
  height: 327px;
}

.before-image {
  left: 742px;
  position: absolute;
}

.after-image {
  left: 914px;
  top: 368px;
  position: absolute;
}

.description .accented {
  font-weight: 600;
  text-transform: capitalize;
}
.container-for-background {
  position: relative;
}

.background-sections {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1785px;

  top: 700px;
}

.big-star {
  position: absolute;
  left: 880px;
  top: 346px;
}

.middle-star {
  position: absolute;
  left: 1238px;
  top: 32px;
}

.small-star {
  position: absolute;
  left: 1220px;
  top: 270px;
}
