.footer {
  background-color: var(--color-primary-blue-dark);
  background-image: url(../images/footer-background.png);
  height: 278px;
}

.link-footer {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
}

.link-item {
  margin-bottom: 16px;
}

.link-footer:hover {
  color: var(--color-primary-blue-light);
}

.copyright {
  color: var(--color-secondary-grey-light);
  font-size: 13px;
}

.footer-nav {
  font-size: 16px;
  display: flex;
  gap: 20px;
}

.section-links,
.footer-address {
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-list {
  flex-grow: 1;
  gap: 20px;
}

.address-list,
.common-info {
  flex-grow: 1;
}
.icons {
  display: flex;
  padding: 0;
  gap: 16px;
}

.footer-icons {
  fill: var(--color-primary-light);
}

footer {
  position: relative;
}

.footer-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
