.location {
  padding: 48px 105px 48px 76px;
}

.location-title {
  padding: 0 314px;
}
.location .accent {
  color: var(--color-primary-blue-light);
}

.location-content {
  display: flex;
  gap: 32px;
}

.map-iframe {
  border-radius: 32px;
  width: 605px;
  height: 481px;
  border: none;
}

.section-form {
  border-radius: 32px;
  width: 423px;
  height: 481px;
  background: var(--color-primary-blue-dark);
  background-image: url(../images/modal-background.png);
  padding: 48px 56px;
}

.location-text {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-primary-light);
  margin: 0 18px 32px 18px;
  text-align: center;
}

.terms-section-form {
  font-size: 12px;
  line-height: 150%;
  color: var(--color-secondary-grey-light);
  text-align: center;
  max-width: 214px;
  display: block;
  margin: 0 auto;
}

.terms-section-form a {
  color: var(--color-secondary-grey-light);
  text-decoration-skip-ink: none;
}

.input-section-form {
  margin-bottom: 16px !important;
  max-height: 52px;
}
