.procedures {
  padding: 48px 12px;
}

.procedures-title {
  text-align: center;
  margin: 0 353px;
}

.procedures .accent {
  color: var(--color-primary-blue-light);
}

.procedures-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.our-procedures {
  display: flex;
  gap: 32px;
  align-items: center;
}

.procedure.mask {
  background-image: url(../images/face-mask.png);
}

.procedure.injection {
  background-image: url(../images/face-injection.png);
}

.procedure.cleaning {
  background-image: url(../images/face-cleaning.png);
}

.procedure {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-basis: calc((100% - 32px) / 3);
  border-radius: 4px 120px;
  height: 456px;
  transition: transform 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
}

.procedure::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px 120px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
}

.procedure:hover {
  transform: scale(1.05);
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary-blue-dark);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: transparent;
  cursor: pointer;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-primary-blue-light);
  border: 1px solid var(--color-primary-light);
}

.procedure-name {
  position: absolute;
  bottom: 32px;
  max-width: 152px;
  color: var(--color-primary-light);
  font-size: 22px;
  text-align: center;
}
