.hero-container {
  max-width: 1288px;
  padding: 32px 0;
  margin: 0 auto;
}

.hero-section {
  background: url(../images/background-main.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
}

.hero-section-container {
  padding: 124px 705px 126px 106px;
  width: 100%;
  max-width: 1288px;
  margin: 0 100px;

  &__subtitle {
    margin-bottom: 16px;
  }

  &__title {
    color: var(--color-primary-blue-light);
    font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    margin-bottom: 40px;
    margin-top: 0;
  }

  &__button {
    &:hover {
      color: var(--color-primary-blue-dark);
      background-color: transparent;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }
}
