.backdrop {
  background-color: rgba(1, 31, 74, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    visibility 0.3s,
    opacity 0.3s;
}

.modal-title {
  font-family: Play, sans-serif;
  color: var(--color-primary-light);
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.modal-text {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-primary-light);
  text-align: center;
  margin-bottom: 32px;
}

.modal {
  position: relative;
  width: 725px;
  height: 680px;
  border-radius: 48px;
  background-color: var(--color-primary-blue-dark);
  background-image: url(../images/modal-background.png);
  padding: 42px 144px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-accented {
  color: var(--color-primary-blue-light);
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  background-color: transparent;
  border: none;
}

.visualy-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.modal-form {
  padding: 0 62px;
}
