.reasons-container {
  padding: 88px 90px 48px 90px;
  margin-top: 176px;

  &__content {
    display: flex;
    gap: 56px;
  }

  &__title {
    text-align: center;
    max-width: 432px;
    margin: 0 314px;

    &--accent {
      color: var(--color-primary-blue-light);
    }
  }
}
